<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>public.item</string>
    <string>public.content</string>
    <string>public.composite-content</string>
    <string>public.data</string>
    <string>public.database</string>
    <string>public.calendar-event</string>
    <string>public.message</string>
    <string>public.presentation</string>
    <string>public.contact</string>
    <string>public.archive</string>
    <string>public.disk-image</string>
    <string>public.text</string>
    <string>public.plain-text</string>
    <string>public.utf8-plain-text</string>
    <string>public.utf16-external-plain-​text</string>
    <string>public.utf16-plain-text</string>
    <string>com.apple.traditional-mac-​plain-text</string>
    <string>public.rtf</string>
    <string>com.apple.ink.inktext</string>
    <string>public.html</string>
    <string>public.xml</string>
    <string>public.source-code</string>
    <string>public.c-source</string>
    <string>public.objective-c-source</string>
    <string>public.c-plus-plus-source</string>
    <string>public.objective-c-plus-​plus-source</string>
    <string>public.c-header</string>
    <string>public.c-plus-plus-header</string>
    <string>com.sun.java-source</string>
    <string>public.script</string>
    <string>public.assembly-source</string>
    <string>com.apple.rez-source</string>
    <string>public.mig-source</string>
    <string>com.apple.symbol-export</string>
    <string>com.netscape.javascript-​source</string>
    <string>public.shell-script</string>
    <string>public.csh-script</string>
    <string>public.perl-script</string>
    <string>public.python-script</string>
    <string>public.ruby-script</string>
    <string>public.php-script</string>
    <string>com.sun.java-web-start</string>
    <string>com.apple.applescript.text</string>
    <string>com.apple.applescript.​script</string>
    <string>public.object-code</string>
    <string>com.apple.mach-o-binary</string>
    <string>com.apple.pef-binary</string>
    <string>com.microsoft.windows-​executable</string>
    <string>com.microsoft.windows-​dynamic-link-library</string>
    <string>com.sun.java-class</string>
    <string>com.sun.java-archive</string>
    <string>com.apple.quartz-​composer-composition</string>
    <string>org.gnu.gnu-tar-archive</string>
    <string>public.tar-archive</string>
    <string>org.gnu.gnu-zip-archive</string>
    <string>org.gnu.gnu-zip-tar-archive</string>
    <string>com.apple.binhex-archive</string>
    <string>com.apple.macbinary-​archive</string>
    <string>public.url</string>
    <string>public.file-url</string>
    <string>public.url-name</string>
    <string>public.vcard</string>
    <string>public.image</string>
    <string>public.fax</string>
    <string>public.jpeg</string>
    <string>public.jpeg-2000</string>
    <string>public.tiff</string>
    <string>public.camera-raw-image</string>
    <string>com.apple.pict</string>
    <string>com.apple.macpaint-image</string>
    <string>public.png</string>
    <string>public.xbitmap-image</string>
    <string>com.apple.quicktime-image</string>
    <string>com.apple.icns</string>
    <string>com.apple.txn.text-​multimedia-data</string>
    <string>public.audiovisual-​content</string>
    <string>public.movie</string>
    <string>public.video</string>
    <string>com.apple.quicktime-movie</string>
    <string>public.avi</string>
    <string>public.mpeg</string>
    <string>public.mpeg-4</string>
    <string>public.3gpp</string>
    <string>public.3gpp2</string>
    <string>public.audio</string>
    <string>public.mp3</string>
    <string>public.mpeg-4-audio</string>
    <string>com.apple.protected-​mpeg-4-audio</string>
    <string>public.ulaw-audio</string>
    <string>public.aifc-audio</string>
    <string>public.aiff-audio</string>
    <string>com.apple.coreaudio-​format</string>
    <string>public.directory</string>
    <string>public.folder</string>
    <string>public.volume</string>
    <string>com.apple.package</string>
    <string>com.apple.bundle</string>
    <string>public.executable</string>
    <string>com.apple.application</string>
    <string>com.apple.application-​bundle</string>
    <string>com.apple.application-file</string>
    <string>com.apple.deprecated-​application-file</string>
    <string>com.apple.plugin</string>
    <string>com.apple.metadata-​importer</string>
    <string>com.apple.dashboard-​widget</string>
    <string>public.cpio-archive</string>
    <string>com.pkware.zip-archive</string>
    <string>com.apple.webarchive</string>
    <string>com.apple.framework</string>
    <string>com.apple.rtfd</string>
    <string>com.apple.flat-rtfd</string>
    <string>com.apple.resolvable</string>
    <string>public.symlink</string>
    <string>com.apple.mount-point</string>
    <string>com.apple.alias-record</string>
    <string>com.apple.alias-file</string>
    <string>public.font</string>
    <string>public.truetype-font</string>
    <string>com.adobe.postscript-font</string>
    <string>com.apple.truetype-​datafork-suitcase-font</string>
    <string>public.opentype-font</string>
    <string>public.truetype-ttf-font</string>
    <string>public.truetype-collection-​font</string>
    <string>com.apple.font-suitcase</string>
    <string>com.adobe.postscript-lwfn​-font</string>
    <string>com.adobe.postscript-pfb-​font</string>
    <string>com.adobe.postscript.pfa-​font</string>
    <string>com.apple.colorsync-profile</string>
    <string>public.filename-extension</string>
    <string>public.mime-type</string>
    <string>com.apple.ostype</string>
    <string>com.apple.nspboard-type</string>
    <string>com.adobe.pdf</string>
    <string>com.adobe.postscript</string>
    <string>com.adobe.encapsulated-​postscript</string>
    <string>com.adobe.photoshop-​image</string>
    <string>com.adobe.illustrator.ai-​image</string>
    <string>com.compuserve.gif</string>
    <string>com.microsoft.bmp</string>
    <string>com.microsoft.ico</string>
    <string>com.microsoft.word.doc</string>
    <string>com.microsoft.excel.xls</string>
    <string>com.microsoft.powerpoint.​ppt</string>
    <string>com.microsoft.waveform-​audio</string>
    <string>com.microsoft.advanced-​systems-format</string>
    <string>com.microsoft.windows-​media-wm</string>
    <string>com.microsoft.windows-​media-wmv</string>
    <string>com.microsoft.windows-​media-wmp</string>
    <string>com.microsoft.windows-​media-wma</string>
    <string>com.microsoft.advanced-​stream-redirector</string>
    <string>com.microsoft.windows-​media-wmx</string>
    <string>com.microsoft.windows-​media-wvx</string>
    <string>com.microsoft.windows-​media-wax</string>
    <string>com.apple.keynote.key</string>
    <string>com.apple.keynote.kth</string>
    <string>com.truevision.tga-image</string>
    <string>com.sgi.sgi-image</string>
    <string>com.ilm.openexr-image</string>
    <string>com.kodak.flashpix.image</string>
    <string>com.j2.jfx-fax</string>
    <string>com.js.efx-fax</string>
    <string>com.digidesign.sd2-audio</string>
    <string>com.real.realmedia</string>
    <string>com.real.realaudio</string>
    <string>com.real.smil</string>
    <string>com.allume.stuffit-archive</string>
</array>
</plist>
